.cog-btn {
  font-size      : rem(14px);
  line-height    : rem(24px);
  width          : 148px;
  max-width      : 100%;
  padding        : .65rem 2rem;
  text-decoration: none;
  border-radius  : var(--bs-border-radius-pill);
  font-weight    : var(--bs-font-weight500);
  border         : none;
  @extend .cog-flexcenter;
  transition: $transition;
  z-index   : 1;

  @include media-breakpoint-up(md) {
    width  : 168px;
    padding: .9rem 2rem;
  }

  &:is(:hover, :focus, :visited) {
    color: var(--bs-white);
  }

  &--pri {
    background: var(--bs-bg-primary) !important;
    color     : var(--bs-white) !important;
    border    : 1px solid var(--bs-bg-primary) !important;

    &:is(:hover, :focus, :visited) {
      border    : 1px solid var(--bs-bg-primary) !important;
      background: transparent !important;
      color     : var(--bs-bg-primary) !important;
    }
  }

  &--white {
    background: var(--bs-white) !important;
    color     : var(--bs-secondary) !important;
  }

  &--default {
    border: 1px solid var(--bs-bg-primary) !important;
    color : var(--bs-secondary) !important;

    @include media-breakpoint-down(md) {
      width: 194px;
    }

    &:is(:hover, :focus) {
      transform : $transition;
      color     : var(--bs-white) !important;
      background: var(--bs-bg-primary);
    }
  }

  &--sm {
    width    : 200px;
    max-width: 100%;

    @include media-breakpoint-up(md) {
      width: 245px;
    }
  }

  &--lg {
    width    : 211px;
    max-width: 100%;

    @include media-breakpoint-up(md) {
      width: 268px;
    }
  }

  &:is(:hover, :focus, :visited) {
    color: var(--bs-white);
  }
}

.cog-btn-md {
  width       : 191px;
  max-width   : 100%;
  border-width: 2px !important;
}

.cog-link {
  color          : var(--bs-gray-100);
  text-decoration: none;
}

// Video button styles

.cog-play-txt {
  color: var(--bs-link-color);

  @include media-breakpoint-down(md) {
    font-size: rem(14px) !important;
  }
}

.cog-btn-close {
  position: absolute;
  top     : -30px;
  right   : -1rem;
  cursor  : pointer;
}