.cog-card {
  border       : 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius-sm);
  height       : 100%;
  cursor       : pointer;
  transition   : $transition;

  &--pri {
    background   : var(--bs-blue-light);
    border-radius: var(--bs-border-radius-xs);
    position     : relative;
    overflow     : hidden;
    z-index      : 2;
    padding      : rem(20px);
    height       : 300px;
    max-height   : 100%;

    .cog-card__body {
      justify-content: center;
    }

    &:is(:hover, :focus, :visited) {
      color: var(--bs-secondary) !important;
    }
  }

  &__body {
    padding        : 1.5rem 1.6rem 1.5rem 2rem;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    height         : 100%;

    @include media-breakpoint-up(md) {
      padding: 2rem;
    }
  }

  &:is(:hover, :focus, :visited) {
    color     : var(--bs-white);
    background: var(--bs-blue-light);
    transition: $transition;

    .cog-card-link {
      background: var(--bs-bg-primary);
    }

    .cog-icon-arrow {
      transform: rotate(-45deg);

      path {
        fill: var(--bs-white);
      }
    }
  }

  .cog-icon-arrow {
    @include media-breakpoint-down(md) {
      height: rem(10px) !important;
      width : rem(10px) !important;
    }
  }

  &--cover {
    background-repeat: no-repeat;
    background-size  : cover;
    max-height       : 100%;
    height           : 280px;

    @include media-breakpoint-up(md) {
      height: 550px;
    }

    &__body {
      height        : 100%;
      flex-direction: column;

      padding: {
        left : 1rem;
        right: 1rem;
      }

      @include media-breakpoint-up(md) {
        padding: {
          left : 3rem;
          right: 3rem;
        }
      }
    }
  }

  // figure
  &__figwrap {
    margin-top: rem(-40px);
  }
}

.no-hover {
  &:is(:hover, :focus, :visited) {
    background-color: var(--bs-bg-theme);
  }
}

.cog-card-vr {
  position      : relative;
  z-index       : 1;
  padding-bottom: rem(55px);

  @include media-breakpoint-up(md) {
    padding-bottom: rem(120px);
  }

  &:last-child {
    padding-bottom: 0;
  }

  &__body {
    padding: {
      right: rem(10px);
      left : rem(10px);
    }

    @include media-breakpoint-up(lg) {
      padding: {
        left : rem(40px);
        right: rem(40px);
      }
    }
  }
}

.cog-card-h240 {
  height    : auto;
  max-height: 100%;

  @include media-breakpoint-up(md) {
    height: rem(240px);
  }
}

.cog-cardhover {
  cursor    : pointer;
  transition: $transition;

  .cog-card__des {
    @include media-breakpoint-up(md) {
      display   : none;
      transition: $transition;
    }
  }

  @include media-breakpoint-up(md) {
    &:is(:hover, :focus) {
      transition: $transition;

      h4 {
        display: none;
      }

      .cog-card__des {
        transition: $transition;
        display   : block;
      }
    }
  }
}

// Blog cards
.cog-blogcard {
  background   : var(--bs-bg-secondary);
  border-radius: var(--bs-border-radius-sm);

  @include media-breakpoint-up(md) {
    height: 100%;
  }

  &--latest {
    .cog-blog-figure {
      border: {
        top-left-radius : var(--bs-border-radius-sm);
        top-right-radius: var(--bs-border-radius-sm);
      }
    }
  }

  &--hr {
    margin-bottom: 1.5rem;
    height       : auto;

    @include media-breakpoint-up(md) {
      margin-bottom: 1rem;
    }

    .cog-rounded-sm {
      @include media-breakpoint-down(md) {
        border-radius: 16px 16px 0 0 !important;
      }
    }

    @include media-breakpoint-up(md) {
      display: flex;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .cog-blogcard__body {
      padding: {
        left : 1.2rem;
        right: 1.2rem;
      }

      @include media-breakpoint-up(md) {
        padding: {
          left : 1.5rem;
          right: 1.5rem;
        }
      }
    }
  }

  &__body {
    padding: 1.5rem 1.2rem;

    a {
      text-decoration: none;
      color          : var(--bs-secondary);
    }

    @include media-breakpoint-up(md) {
      padding: 1.8rem 3rem;
    }
  }
}

.cog-card-tech {
  text-decoration: none;
  color          : var(--bs-secondary);

  &:is(:hover, :focus) {
    color: var(--bs-secondary);
  }

  &__fig {
    height: rem(45px);

    border : {
      top-left-radius : var(--bs-border-radius-sm);
      top-right-radius: var(--bs-border-radius-sm);
    }
  }

  &__body {
    padding: 2.2rem 1.5rem;
    @extend .fs-20;
  }
}