.cog-modal-sucess {
  .modal-content {
    border-radius: var(--bs-border-radius-sm);
  }

  .cog-gradient-heading {
    font-size  : rem(41px);
    line-height: rem(51px);
  }
}

.cog-modal-content {
  padding: 0 4rem;
}