// .em-slider-wrap {
//   @include media-breakpoint-up(md) {
//     display        : flex;
//     justify-content: space-between;
//   }

//   .swiper-slide {
//     height: auto !important;
//   }
// }

// .js-explore-swiper {
//   padding-top: 2.2rem;

//   @include media-breakpoint-up(md) {
//     padding-top: 3rem;
//   }
// }

.popular-ticketSlider {
  .swiper-slide {
    height: auto !important;
  }
}

// Slider spacing info

:root {
  --size-container-margin-auto: calc(50vw - 50%);
  --grid-gap-horizontal       : 1em; //var(--space-md);
  --grid-column-width         : calc((100% - 11 * var(--grid-gap-horizontal)) / 12);
  --carousel-slide-width      : calc((var(--grid-column-width) * 5) + (4 * var(--grid-gap-horizontal)));
}

// .swiper-pagination.swiper-sm-pagination {
//   bottom: 0 !important;
//   transform: translateY(10px);
//   z-index: 9;
//   position: relative;

//   .swiper-pagination-bullet {
//     background-color: #afb7bb;

//     &.swiper-pagination-bullet-active {
//       background-color: $thrice;
//     }
//   }
// }