.tn-tabs-main {
  padding: {
    top   : rem(80px);
    bottom: rem(50px);
  }

  @include media-breakpoint-up(md) {
    padding: {
      top   : rem(100px);
      bottom: rem(100px);
    }
  }

  &__list {
    border         : 0;
    display        : flex;
    justify-content: center;
    margin-bottom  : rem(20px);

    @include media-breakpoint-up(md) {
      margin-bottom: rem(50px);
    }
  }

  .nav-link {
    border: none;
    cursor: pointer;
    @extend .fnt-24;
    line-height: 24px !important;
    font-weight: $fnt-600;

    @include media-breakpoint-down(md) {
      font-size  : rem(24px);
      line-height: rem(37px);
    }

    margin: {
      left : rem(24px) !important;
      right: rem(24px) !important;
    }

    @include media-breakpoint-up(md) {
      margin: {
        left : rem(54px);
        right: rem(54px);
      }
    }
  }
}