#cog-video {
  video {
    vertical-align: bottom;
  }
}

.mfp-iframe-holder .mfp-content {
  max-width: 800px;
  /* Customize the width as desired */
  margin   : 0 auto;
}

.mfp-iframe video {
  min-width      : 100%;
  min-height     : 100%;
  width          : auto;
  background-size: cover;
  height         : 100%;
  overflow       : hidden;
}

.mfp-iframe .custom-class {
  display: none;
}