.modal-dialog{ max-width: 800px !important;}
            .modal-content{ background: #FFFFFF;border-radius: 16px;margin: auto;}
            .form-control:focus, .btn-close:focus, .form-check-input:focus, select:focus{box-shadow: none;}
            .form_group{margin-bottom: 20px;}
            .form-control{border: 1px solid #EEEEEE;min-height: 40px;}
            .modal-body .col-md-6 .form-control{min-width: 290px;}
            .form-control::placeholder{color: #A5A5A5;}
            .modal-body label{margin-bottom: 6px;}
            .modal-body textarea{border: 0.501024px solid #DFDFDF;border-radius: 2.50512px;}
            .modal_h1{background: linear-gradient(82.76deg, #00387A 50.42%, rgba(7, 109, 132, 0.56) 97.57%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;}
            .modal_submit{border: 2px solid #0952A9;border-radius: 32px;color: #0952A9 !important;background-color: #FFFFFF;}
            .btn-close{z-index: 100; background-image: url(img/icons/closeblack.png);position: absolute; border: 2px solid #000000;border-radius: 50%;}
            .modal-footer{color:#ffffff ; padding: 48px 48px 28px;border-bottom-right-radius:16px ;border-bottom-left-radius: 16px; background: #0952A9;background-image: url(img/icons/circles.png);background-repeat: no-repeat;background-position: right;}
            .modal-footer a{color: #FFFFFF;text-decoration: none;}
            .modal-footer h4, .modal-footer h6, .by_txt{font-weight: 400 !important;}
            .modal_submit:hover{color:#ffffff !important;}
            .modal-header {border-bottom: none;}
            select{height: 40px;border: 1px solid #EEEEEE;appearance: none;padding:0px 12px  !important;}
            select:focus-visible{outline: none !important;}
            #successfull_msg{display: none;}
            .success_lft{min-height:482px; border-bottom-left-radius: 16px;border-top-left-radius: 16px;}
            .success_lft::before{content: '';background: #4984DD;opacity: 0.5; position: absolute;top: 0;left: 0;right: 0;bottom: 0;border-bottom-left-radius:16px;border-top-left-radius:16px;}
            .parsley-error{border:1px solid #DF0000 !important;}
            .form_group .parsley-required{display: none !important;}
            textarea{max-height: 100px !important;}
            #error{font-size: 20px; display: none;color:#DF0000 ;border: none !important;text-align: center;}
            .modal_scrl{height: 550px;overflow-y: scroll;margin-top: 10px;}
            .modal_scrl::-webkit-scrollbar-track{	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 100% !important;}
            .modal_scrl::-webkit-scrollbar{width: 5px;margin-top: 10px; }
            .modal_scrl::-webkit-scrollbar-thumb{border-radius: 16px !important;	background: linear-gradient(82.76deg, #00387A 50.42%, rgba(7, 109, 132, 0.56) 97.57%);}
            .parsley-type{color:#DF0000 ;}
            @media only screen and (min-width:768px) {
              .modal_h1{font-size: 41px !important;margin: auto;}
              .btn-close{ right: 3%;top: 4%;}
              .successfull_msg{max-width: 798px;max-height: 482px;}
              .success_rght{padding: 82px;}
              .modal-body{padding:0px 80px 70px !important;} 

            }
         
            @media only screen and (min-width:769px) and (max-width:911px){
              .modal-body{padding: 70px !important;}
            } 
            @media only screen and (min-width:912px) and (max-width:1024px){
            }
            @media only screen and (max-width:767px) {
              .modal_h1{font-size: 24px !important;padding:80px 0px 0px;}
              .btn-close{ right: 5%;top: 4%;}
              .successfull_msg .row{flex-direction: column-reverse !important;}
              .successfull_msg{padding: 40px;}
              .success_h1{padding: 0 !important;}
              .success_lft::before{width: 330px !important;border-radius: 16px 16px 16px 16px;}
              select,option{max-width: 390px !important;font-size: 14px !important;}
              #error{font-size: 18px;}
              .modal-body select , .modal-body textarea{min-width: 290px;}
              .modal-body{padding-bottom:75px;}
            }
            