
section
    .container
        .row
            //Buttons
            include buttons.pug

            //Heading
            include headings.pug
            
            //cards
            include cards.pug

//Banner
include banner.pug

include style-guide-layout.pug