
// Heading and paragraphs

.container
    h1.fw-bold.my-5.pt-4 Section Heading and Paragraphs 

section.cog-bg-primary.section-padding100
    .container
        .row.text-center
            h3.h3.fw-bold We specialize in digital - It’s our DNA
            p.cog-lead We help you become more digital by 


// Customzing headings

.container
    h1.fw-bold.my-5.pt-4 Customizing headings

section.mb-5
    .container
        .row
            .col-md-10.mx-auto.text-center
                h2.h2.fw-bold
                    | We unlock the power of your 
                    small.cog-txt-muted.cog-clr-primary talent and organization 
                    | for digital.



// Footer
.container
    //- h1.fw-bold.my-5.pt-4 header component

include ../../base/header.pug


// Footer
.container
    //- h1.fw-bold.my-5.pt-4 header component

include ../../base/get-in-touch.pug

include ../../base/get-in-touch-sec.pug


// Footer
.container
    h1.fw-bold.my-5.pt-4 Footer component

include ../../base/footer.pug


