
#exampleModal.modal.fade.modal-lg.cog-modal-sucess(aria-hidden='true' aria-labelledby='exampleModalToggleLabel' tabindex='-1')
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-body.p-0
                //- button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                //-     img(src="")
                .container-fluid.px-0
                    .row.text-center.align-items-center
                        .col-md-5
                            img.cog-imgfit(src="./img/sucess/sucess-fig.png", alt="Figure")
                        .col-md-7
                            .cog-modal-content
                                img.cog-imgfit.mb-3(src="./img/sucess/sucess-tick.svg" alt="Tickmark")
                                h1.cog-gradient-heading.text-center
                                    span.cog-text-gradient 
                                        | Perfect.
                                        br
                                        | We will be in touch soon.
