.cog-patter-dotline {
    position : absolute;
    top      : 53%;
    left     : 51%;
    transform: translate(-50%, -50%);
    bottom   : 0;
    overflow : hidden;

    &--btm {
        top      : unset !important;
        bottom   : 0%;
        transform: translate(-50%, 0%) !important;
        height   : calc(100% - 30%);

        img {
            height: 78%;
        }
    }

    @include media-breakpoint-between(md, lg) {
        &--btm {
            bottom: -0%;
            height: calc(100% - 36%);

            img {
                height: 80%;
            }
        }
    }
}