.cog-heropanel {
    &__cnt {
        @include media-breakpoint-down(md) {
            padding: rem(40px);
        }

        @include media-breakpoint-up(md) {
            padding: {
                top   : rem(80px);
                bottom: rem(80px);
            }
        }
    }
}

.cog-pattern-figwrap {
    position: relative;
}

.cog-pattern-fig {
    position: absolute;
    overflow: hidden;
}

.cog-paneltxt-hr-center {
    display    : flex;
    align-items: center;
}