section.cog-banner.cog-bg-info
    .cog-banner__figwrap.ms-auto
        img.cog-img-blendmode.cogximg650(src="./img/Banners/about-us.webp" alt="Banner")
    .cog-bg-gradient.cog-bg-gradient--pri
    //Banner content
    .cog-banner-content.cog-vr-flexcenter
        .container.cog-banner-content__container
            .row
                .col-12.col-xl-9.col-xxl-8.me-auto.offset-xl-1
                    span.cog-leadtitle.mb-3 ALL ABOUT US
                    h1.h1.fw-normal.mb-3.mb-md-4
                        | We unlock the power of talent and organization for
                        small.cog-txt-muted.fs-64.fw-xbold.me-1 digital transformation
                    p.cog-lead.fs-24.text-white.pb-2 Keeping companies and individuals ahead of the technology curve through transformative, digital-first learning and organizational solutions.

                    a.cog-btn.cog-btn--white.mt-4(href="javascript:void(0);") Get in touch