section.section-padding100.pt-0
    .container
        h2.h3.fw-bold.text-center.mb-md-5 Meet our Leadership
        .row
            .col-lg-10.col-xl-8.mx-auto
                .row.gy-3.pt-3
                    //member
                    .col-md-4
                        figure.cog-figthumbnail
                            img.cog-imgfit.cogximg345.cog-rounded-reg(src="./img/about-us/hiten-patel.webp" alt="Hiten patel")
                            .cog-overlay-blue
                            figcaption.cog-figthumbnail__content
                                h5.fs-20.mb-1.mb-md-0 Hiten Patel
                                p.fs-16.text-white Chairman
                    
                    //member2
                    .col-md-4
                        figure.cog-figthumbnail
                            img.cog-imgfit.cogximg345.cog-rounded-reg(src="./img/about-us/garth.webp" alt="Hiten patel")
                            .cog-overlay-blue
                            figcaption.cog-figthumbnail__content
                                h5.fs-20.mb-1.mb-md-0 Hiten Patel
                                p.fs-16.text-white Chairman
                   
                    //member3
                    .col-md-4
                        figure.cog-figthumbnail
                            img.cog-imgfit.cogximg345.cog-rounded-reg(src="./img/about-us/alok.webp" alt="Hiten patel")
                            .cog-overlay-blue
                            figcaption.cog-figthumbnail__content
                                h5.fs-20.mb-1.mb-md-0 Hiten Patel
                                p.fs-16.text-white Chairman
                    
                    //member4
                    .col-md-4
                        figure.cog-figthumbnail
                            img.cog-imgfit.cogximg345.cog-rounded-reg(src="./img/about-us/lan.webp" alt="Hiten patel")
                            .cog-overlay-blue
                            figcaption.cog-figthumbnail__content
                                h5.fs-20.mb-1.mb-md-0 Hiten Patel
                                p.fs-16.text-white Chairman
                    //member5
                    .col-md-4
                        figure.cog-figthumbnail
                            img.cog-imgfit.cogximg345.cog-rounded-reg(src="./img/about-us/rich-bowers.webp" alt="Hiten patel")
                            .cog-overlay-blue
                            figcaption.cog-figthumbnail__content
                                h5.fs-20.mb-1.mb-md-0 Hiten Patel
                                p.fs-16.text-white Chairman
                    //member6
                    .col-md-4
                        figure.cog-figthumbnail
                            img.cog-imgfit.cogximg345.cog-rounded-reg(src="./img/about-us/alice.webp" alt="Hiten patel")
                            .cog-overlay-blue
                            figcaption.cog-figthumbnail__content
                                h5.fs-20.mb-1.mb-md-0 Hiten Patel
                                p.fs-16.text-white Chairman