section.section-padding100.pt-0
    .container
        h2.h3.fw-bold.text-center.mb-md-5 Industries served include
        .row
            .col-12
                h3.cog-gradient-heading.text-center
                    span.cog-text-gradient Consumer Products