section.section-padding80.text-center
    .container
        .row
            .col-md-10.mx-auto
                span.fs-20.d-block.mb-4 Course Code: 5021

                // Socail list
                .cog-social-list.pb-3.pb-md-4.w-100
                    a.cog-social-link(href="javascript:void(0);")
                        img(src="./img/icons/social/facebook.svg" alt="Facebook icon")
                    a.cog-social-link(href="javascript:void(0);")
                        img(src="./img/icons/social/linkdin.svg" alt="linkdin icon")
                    a.cog-social-link(href="javascript:void(0);")
                        img(src="./img/icons/social/twitter.svg" alt="twitter icon")
                    a.cog-social-link(href="javascript:void(0);")
                        img(src="./img/icons/social/mail.svg" alt="Mail icon")
                
                // Sections list
                ul.cog-navblock-list.d-flex
                    li
                        a.cog-navblock-link.fs-20(href="javascript:void(0);") Overview
                    li
                        a.cog-navblock-link.fs-20(href="javascript:void(0);") Schedule Classes
                    li
                        a.cog-navblock-link.fs-20(href="javascript:void(0);") What You'll Learn
                    li
                        a.cog-navblock-link.fs-20(href="javascript:void(0);") Prerequisites
                    li
                        a.cog-navblock-link.fs-20(href="javascript:void(0);") Certification
            