section.cog-bg-primary.section-padding100.js-slider
    .container.text-center
        h3.h3.mb-3.mb-md-5.fw-xbold Popular technologies in Demand
        include ../../../mixins/technologies-card.pug
        .swiper.technologiesSwiper
            .row.g-md-4.swiper-wrapper
                .col-md-3.swiper-slide
                    +Techcards("./img/rewire-detail/card-image1.png", "CISSP", "Certified Information Systems Security Professional (CISSP)", "4days", "5051")
                .col-md-3.swiper-slide
                    +Techcards("./img/rewire-detail/card-image2.png", "ADP", "Certified Information Systems Security Professional (CISSP)", "4days", "5051")
                .col-md-3.swiper-slide
                    +Techcards("./img/rewire-detail/card-image3.png", "Iot Security", "IoT Security and Penetration Testing", "4days", "5051")
                .col-md-3.swiper-slide
                    +Techcards("./img/rewire-detail/card-image4.png", "RPA", "Certified Information Systems Security Professional (CISSP)", "4days", "5051")
        
        
        a.cog-btn.w-auto.d-inline-block.fs-16.cog-btn--pri.mt-4.mt-md-5(href="javascript:void(0);")
            | Explore Courses
            <svg class="cog-icon-arrow ms-2" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.06688 0.641346L15.6669 7.24135C15.7669 7.34135 15.8379 7.44968 15.8799 7.56635C15.9219 7.68301 15.9425 7.80801 15.9419 7.94135C15.9419 8.07468 15.9209 8.19968 15.8789 8.31635C15.8369 8.43301 15.7662 8.54135 15.6669 8.64135L9.06688 15.2413C8.88355 15.4247 8.65421 15.5203 8.37888 15.5283C8.10355 15.5363 7.86621 15.4407 7.66688 15.2413C7.46688 15.058 7.36255 14.8287 7.35388 14.5533C7.34521 14.278 7.44121 14.0407 7.64188 13.8413L12.5419 8.94135H1.36688C1.08354 8.94135 0.84588 8.84535 0.653879 8.65335C0.461879 8.46135 0.366212 8.22401 0.366879 7.94135C0.366879 7.65801 0.462545 7.42035 0.653879 7.22835C0.845213 7.03635 1.08288 6.94068 1.36688 6.94135H12.5419L7.64188 2.04135C7.45855 1.85801 7.36255 1.62468 7.35388 1.34135C7.34521 1.05801 7.44121 0.824679 7.64188 0.641346C7.82521 0.441346 8.05855 0.341347 8.34188 0.341347C8.62521 0.341347 8.86688 0.441346 9.06688 0.641346Z" fill="#ffffff"></path>
            </svg>
