//01 Banner
include ../details/01_banner.pug

//01 Banner
include ../details/012_courses-code.pug

// course-tabs
include ../details/courses-tabs/courses-tabs-dir.pug

// 02
include ../details/02_form.pug

// 03
include ../details/03_Popular-technologies.pug