footer.cog-footer.pb-4.py-md-4
    .container
        .row
            .col-12.text-center
                img.mb-3.mb-md-4.cog-brandlogo-sm(src="./img/icons/brand-logo.svg" alt="Brand logo")
                ul.nav.cog-nav.justify-content-center.pb-3.my-3.cog-mb-flexcolum
                    li.cog-nav-item
                        a.cog-nav-link.mx-3.mx-md-5(href='#') Capabilities
                    li.cog-nav-item
                        a.cog-nav-link.mx-3.mx-md-5(href='#') Individuals
                    li.cog-nav-item
                        a.cog-nav-link.mx-3.mx-md-5(href='about-us.html') About Us
                    //- li.cog-nav-item
                    //-     a.cog-nav-link.mx-3.mx-md-4(href='#') Resources
                    li.cog-nav-item
                        a.cog-nav-link.mx-3.mx-md-5(href='#') Contact Us

    hr.cog-border-pri.d-none.d-md-block
    .container.pt-1
        .row
            .col-12.mx-auto.d-md-flex.justify-content-md-center.text-center
                .hstack.gap-2.mx-3.mx-lg-5
                    a.cog-nav-link.fs-16(href="terms-condition.html") Terms & Conditions
                    div.vr.vr-black.cog-nostrech
                    a.cog-nav-link.fs-16(href="privacy-policy.html") Privacy Policy
                    div.vr.vr-black.cog-nostrech
                    a.cog-nav-link.fs-16(href="javascript:void(0);") Sitemap
                
                p.fs-16.cog-clr-black.mx-md-5.mt-3.mt-md-0 2023 Cognixia. All rights reserved.