footer.cog-footer.pb-3.pb-md-4
    .container
        .row
            .col-12.text-center
                img.mb-3.mb-md-4(src="./img/icons/brand-logo.svg" alt="Brand logo")
                ul.nav.cog-nav.justify-content-center.pb-3.my-3
                    li.cog-nav-item
                        a.cog-nav-link.mx-3.mx-md-5(href='#') Capabilities
                    li.cog-nav-item
                        a.cog-nav-link.mx-3.mx-md-5(href='#') Individuals
                    li.cog-nav-item
                        a.cog-nav-link.mx-3.mx-md-5(href='#') About Us
                    //- li.cog-nav-item
                    //-     a.cog-nav-link.mx-3.mx-md-4(href='#') Resources
                    li.cog-nav-item
                        a.cog-nav-link.mx-3.mx-md-5(href='#') Contact Us

    hr.cog-border-pri
    .container.pt-1
        .row
            .col-12.mx-auto.d-flex.justify-content-center
                .hstack.gap-2.mx-3.mx-md-5
                    a.cog-nav-link(href="javascript:void(0);") Terms & Conditions
                    div.vr.vr-black.cog-nostrech
                    a.cog-nav-link(href="javascript:void(0);") Privacy Policy
                    div.vr.vr-black.cog-nostrech
                    a.cog-nav-link(href="javascript:void(0);") Sitemap
                p.fs-16.cog-clr-black.mx-3.mx-md-5 2023 Cognixia. All rights reserved.