//- .cog-heropanel.cog-bg-gradient--pri.text-white
//-     .container
//-         .row
//-             .col-lg-9.col-xl-8.mx-auto.cog-heropanel__cnt.cog-paneltxt-hr-center
//-                 h3.h3.fw-bold.mb-3.mb-md-0 Ready to supercharge your digital hiring? Discover how Cognixia can help you.
//-                 a(class="cog-btn cog-btn--white col-md-3" href="javascript:void(0);") Get in touch
    
//-             // Image pattern
//-             .cog-pattern-figwrap.--left
//-                 .cog-pattern-fig.bottom-0.start-0
//-                     img.cogximg198.max-h-100(src="./img/symbol-figure.webp" alt="Pattern figure" )
            
//-             .cog-pattern-figwrap.me-lg-5
//-                 .cog-pattern-fig.bottom-0.end-0
//-                     img.cogximgh330.max-h-100(src="./img/riple-waves.svg" alt="Ripple wave" )

section.cog-heropanel.cog-bg-lightblue.position-relative.mb-5.my-md-5.mx-3.mx-md-0
    // Image pattern
    .cog-pattern-fig.top-50.translate-middle-y.d-none.d-md-block
            img.max-h-100(src="./img/patterns/cubic-pattern.svg" alt="Pattern figure" )
    .container
        .row
            .col-lg-9.col-xl-8.mx-auto.cog-heropanel__cnt.cog-paneltxt-hr-center.cog-mb-flexcolum
                .cog-left-wrap.text-center.text-md-start.mb-3.mb-md-0
                    p.cog-clr-darkgray Career aspirations are your vision for your future
                    h3.h3.fw-bold.my-2
                        | Get ready to start your journey with 
                        small.fs-36.cog-txt-muted.cog-clr-primary JUMP for Individuals.
                a(class="cog-btn cog-btn-md cog-btn--default col-md-3" href="javascript:void(0);") Submit Resume
    
            
    .cog-pattern-fig.me-lg-5.bottom-0.end-0.translate-middle-y.d-none.d-md-block
        img.max-h-100(src="./img/patterns/cubic-pattern-sm.svg" alt="Ripple wave" )