section.py-md-5.my-md-3
    .container
        .row
            .col-md-12
                .cog-heropanel.cog-bg-gradient--pri.cog-rounded-reg.text-white
                    .cog-w-750.mw-100.mx-auto.cog-heropanel__cnt.text-center
                        h3.h3.fw-bold.mb-3.mb-md-4.pb-2-md-0
                            | Ready to transform?
                            br
                            | Discover how Cognixia can help you.
                        a(class="cog-btn cog-btn--white mx-auto" href="javascript:void(0);") Get in touch
                    
                    // Image pattern
                    .cog-pattern-figwrap.--left
                        .cog-pattern-fig.bottom-0.start-0
                            img.cogximg198.max-h-100(src="./img/symbol-figure.webp" alt="Pattern figure" )
                    
                    .cog-pattern-figwrap
                        .cog-pattern-fig.bottom-0.end-0
                            img.cogximgh330.max-h-100(src="./img/riple-waves.svg" alt="Ripple wave" )