
<section class="section-padding100 position-relative">
  <div class="container">
    <h3 class="h3 fw-bold text-center mb-md-4 pb-5">Our span of Impact</h3>
    <div class="row">
      <div class="col-lg-10 col-xxl-8 mx-auto">
        <div class="row row-cols-lg-4 text-center g-3">
          <div class="col">
            <figure class="cog-feature"><img src="./img/rewire/our-impact/countries.svg" alt="countries icon"/>
              <figcaption class="mt-3"><span class="fs-32 fw-xbold">45+</span>
                <p class="cog-clr-black fs-18 mt-1">countries</p>
              </figcaption>
            </figure>
          </div>
          <div class="col">
            <figure class="cog-feature"><img src="./img/rewire/our-impact/programs.svg" alt="Programs icon"/>
              <figcaption class="mt-3"><span class="fs-32 fw-xbold">450+</span>
                <p class="cog-clr-black fs-18 mt-1">programs</p>
              </figcaption>
            </figure>
          </div>
          <div class="col">
            <figure class="cog-feature"><img src="./img/rewire/our-impact/trainers.svg" alt="Trainners icon"/>
              <figcaption class="mt-3"><span class="fs-32 fw-xbold">7,000+</span>
                <p class="cog-clr-black fs-18 mt-1">trainers</p>
              </figcaption>
            </figure>
          </div>
          <div class="col">
            <figure class="cog-feature"><img src="./img/rewire/our-impact/trained.svg" alt="Trainners icon"/>
              <figcaption class="mt-3"><span class="fs-32 fw-xbold">130,000+</span>
                <p class="cog-clr-black fs-18 mt-1">trained</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>