section.section-padding100.text-center
    h3.h3.mb-4.fw-bold What you will learn
    ul.cog-listcount.text-start.mb-0
        li Introduction to cybersecurity
        li Introduction to basic terminology and initiatives
        li Device security and gateway security
        li Communication protocols
        li IoT cloud platforms and their security
        li IoT ecosystem and penetration testing approaches
        li Attack and fault trees
        li Threat modelling IoT systems, applications and hardware
        li IoT testing and security automation
        li IoT hacking