.cog-sections-container.pb-md-5
    .container
        .col-lg-10.mx-auto
            // 01 overview
            include 01_overview.pug

            // 02 Schedule class
            include 02_schedule-class.pug

            // 03 What you learn
            include 03_what-you-learn.pug

            // 04 What you learn
            include 04_Prerequisites.pug

// 05 Certifications
include 05_Certification.pug