// PX to Rem values
@function rem($size) {
	@return $size / 16px * 1rem;
}

// border-radius
@mixin border-radius($r) {
	border-radius: $r;
}

@mixin border-radiusall($tl:null, $tr:null, $br:null, $bl:null) {
	border-top-left-radius    : $tl !important;
	border-top-right-radius   : $tr !important;
	border-bottom-right-radius: $br !important;
	border-bottom-left-radius : $bl !important;
}

// Gradient colors

@mixin gradient($color1, $color2) {
	background-color: $color1;
	filter          : progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2});
	background-image: -moz-linear-gradient(center top, $color1, $color2);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
}