
<!-- everfuel-popup content-->
<div class="sn-openmodal collapse" id="everfuel" data-bs-parent="#accordionExample">
  <div class="container">
    <div class="row sn-openmodal__body">
      <!-- close button-->
      <div class="sn-openmodal-close sn-close-box sn-flexcenter btn-close" data-bs-target="#everfuel" data-bs-toggle="collapse" aria-label="Close"><img class="sn-imgfluid" height="28" width="28" src="./img/close.svg" alt="close button"/></div>
      <!-- Main content-->
      <div class="col-12">
        <h3 class="h2 fnt-DM-me mb-3 mb-md-5">Everfuel provides the missing link between renewable energy and green transportation and production</h3>
      </div>
      <div class="col-md-6">
        <div class="sn-openmodal__cnt">
          <p>Everfuel provides the missing link between renewable energy and green transportation and production - making hydrogen happening across Europe. Everfuel needs to track Hydrogen from production to end distribution. Mobile storage units called “Gas Containers” are used for this purpose. The gas containers are fitted with a variety of sensors for measuring Hydrogen and temperatures. The client asked Mobiquity to improve the insights in the gain or loss of mass and trigger functions that integrate these events with an interface to the Business Centre</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="sn-openmodal__cnt">
          <p>Mobiquity has designed and implemented the first steps of a cloud-based architecture and corresponding functions that analyses data and creates insights in hydrogen mass behaviour in logistical processes. Part of the solution uses an ‘error catalogue’ approach to identify friction points based on e.g., upper and lower control limits and triggering events/notifications to further improve the transportation behaviour predictability.</p>
          <p>Today, we are working with the client to extend these insights and work on data points regarding production demand, supply and storage to optimize operational planning.</p>
        </div>
      </div>
    </div>
  </div>
</div>