
<!-- Monjasa-popup content-->
<div class="sn-openmodal collapse" id="monjasa" data-bs-parent="#accordionExample">
  <div class="container">
    <div class="row sn-openmodal__body">
      <!-- close button-->
      <div class="sn-openmodal-close sn-close-box sn-flexcenter btn-close" data-bs-target="#monjasa" data-bs-toggle="collapse" aria-label="Close"><img class="sn-imgfluid" height="28" width="28" src="./img/close.svg" alt="close button"/></div>
      <!-- Main content-->
      <div class="col-12">
        <h3 class="h2 fnt-DM-me mb-3 mb-md-5">Monjasa’s app: end to end transparency for the oil and shipping industry</h3>
      </div>
      <div class="col-md-6">
        <div class="sn-openmodal__cnt">
          <p>Monjasa means personal business in the oil and shipping industries. The core business includes trading and physical supply of marine fuels, oil terminal operations and ship owning activities on a global scale. With 500 employees on land and at sea they supply around 6 million tons of marine fuels worldwide on a yearly basis.</p>
          <p>Mobiquity developed an app for Monjasa. The app is the digital first in the entire bunkering sector, providing shipping companies with insights into fuel prices, stocks and marine fuel characteristics. Data from Monjasa's global tanker fleet goes straight to customers' mobile</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="sn-openmodal__cnt">
          <p>In addition to current stock data, the groundbreaking app also provides other valuable information and convenience for customers. For example, the user of the app receives accurate CO2 emission data, fuel efficiency, temperature and volume fuel calculations. There is also the possibility to see where Monjasa's fleet is located and an overview of fuel requests, orders and billing information.  </p>
        </div>
      </div>
    </div>
  </div>
</div>