section.cog-banner.cog-bg-info
    .cog-banner__figwrap.ms-auto
        img.cog-img-blendmode.cogximg650(src="./img/rewire/rewire-banner.webp" alt="Banner")
    .cog-bg-gradient.cog-bg-gradient--pri
    //Banner content
    .cog-banner-content.cog-vr-flexcenter
        .container.cog-banner-content__container
            .row
                .col-12.col-lg-9.col-xl-7.me-auto.offset-lg-1
                    span.cog-leadtitle.mb-3 DIGITAL MINDSET & CULTURE
                    h1.h1.fw-normal.mb-3.mb-md-4
                        | Activate your employees through intentional 
                        small.cog-txt-muted.fs-64.fw-xbold.me-2 mindset shifts
                    a.cog-btn.cog-btn--white.mt-4(href="javascript:void(0);") Get in touch