mixin Itright_thumbnail(figsrc,figalt,figcaption,figdes)
     figure.sn-figure
        .sn-figure__figwrap
            img.img-fit(src=figsrc alt=figalt)
        figcaption.sn-figure__caption
            h3.h3.my-3.sn-clr-pri=figcaption
            p.sn-figure__des=figdes