section.cog-banner.cog-bg-info
    .cog-banner__figwrap.ms-auto
        img.cog-img-blendmode.cogximg650(src="./img/Banners/change.webp" alt="Banner")
    .cog-bg-gradient.cog-bg-gradient--pri
    //Banner content
    .cog-banner-content.cog-vr-flexcenter
        .container.cog-banner-content__container
            .row
                .col-12.col-md-8.col-xl-7.col-xxl-6.me-auto.offset-xl-1.cog-mob-lyrev
                    span.cog-leadtitle.mb-3.order-1 CHANGE & ADOPTION
                    h1.h1.fw-normal.mb-2.mb-md-4.order-2
                        | Supercharge & de-risk
                        small.cog-txt-muted.fs-64.fw-xbold.me-1 digital projects
                    a.cog-btn.cog-btn--white.mt-4.mt-md-0.mb-md-4.order-4.order-md-3(href="javascript:void(0);") Get in touch
                    p.cog-lead.fs-24.text-white.pt-md-2.order-3.order-md-4 What if your digital project was expected to fail 70% of the time? Would you still do the project?