section.section-padding100.cog-bg-primary
    .container
        .row.text-center.section-padding80.pt-0.mb-4
            .col-12.col-lg-10.col-xl-8.mx-auto
                h2.fw-bold.mb-md-4 Change Management & Adoption
                p.px-md-4 Cognixia can help make sure your project is a success. We help you de-risk areas that can cause project failure such as: 
        
        .row.gy-5.gy-lg-0.gx-md-3
            // card1
            .col-md-6.col-lg-3
                .cog-card.bg-white.text-center.cog-cardhover.cog-card-h240
                    .cog-card__figwrap
                        .cog-circle-lg.cog-flexcenter.mx-auto
                            img.cog-mob-scaledown(src="./img/change-adoption/lacking.svg" alt="Lacking icon")
                    .cog-card__body.justify-content-start
                        h4.fs-24.fw-normal.cog-clr-secondary Lacking the right people or skillsets
                        p.fs-18.cog-card__des We analyze key data then ensure your talent supply and existing capabilities are aligned to your needs.
            
            // card2
            .col-md-6.col-lg-3
                .cog-card.bg-white.text-center.cog-cardhover.cog-card-h240
                    .cog-card__figwrap
                        .cog-circle-lg.cog-flexcenter.mx-auto
                            img.cog-mob-scaledown(src="./img/change-adoption/battling.svg" alt="Lacking icon")
                    .cog-card__body.justify-content-start
                        h4.fs-24.fw-normal.cog-clr-secondary Battling organizational culture
                        p.fs-18.cog-card__des We analyze key data then ensure your talent supply and existing capabilities are aligned to your needs.
            
            // card3
            .col-md-6.col-lg-3
                .cog-card.bg-white.text-center.cog-cardhover.cog-card-h240
                    .cog-card__figwrap
                        .cog-circle-lg.cog-flexcenter.mx-auto
                            img.cog-mob-scaledown(src="./img/change-adoption/project-delay.svg" alt="Lacking icon")
                    .cog-card__body.justify-content-start
                        h4.fs-24.fw-normal.cog-clr-secondary Project delays, budget impacts and quality issues
                        p.fs-18.cog-card__des We leverage advanced dashboards to monitor project trends for budget, timeline and quality issues to proactively mitigate and reduce friction.
            
            // card4
            .col-md-6.col-lg-3
                .cog-card.bg-white.text-center.cog-cardhover.cog-card-h240
                    .cog-card__figwrap
                        .cog-circle-lg.cog-flexcenter.mx-auto
                            img.cog-mob-scaledown(src="./img/change-adoption/disengaged.svg" alt="Lacking icon")
                    .cog-card__body.justify-content-start
                        h4.fs-24.fw-normal.cog-clr-secondary Disengaged stakeholders and leadership
                        p.fs-18.cog-card__des We complete stakeholder analysis and create ongoing engagement and migration actions where necessary.