section.section-padding100.position-relative
    //- .cog-bg-shape.cog-bg-shape--top
    .container
        .row
            .col-xl-10.mx-auto.text-center.mb-md-5.pb-md-4
                h3.h3.fw-bold.mb-5.mb-md-4 We help you realize the value you expect from your digital projects

            .col-12.col-lg-10.mx-auto
                // card1
                .row.cog-card-vr.cog-flexcenter
                    .col-md-5.col-lg-5
                        img.cog-imgfit.cog-rounded-reg.w-100(src="./img/jump/difference/low-effort.webp" alt="Effort figure")
                    
                    .col-md-6.col-lg-7.pt-4.pt-md-0
                        .cog-card-vr__body.text-center.text-md-start
                            h4.h4.fw-bold.mb-3.mb-md-4 Project Strategy Realized
                            p Achieving project goals by aligning team members and stakeholders around a shared vision.
                
                // card2
                .row.cog-card-vr.cog-flexcenter.cog-mobile-fxrv
                    .col-md-6.col-lg-7.pt-4.pt-md-0
                        .cog-card-vr__body.text-center.text-md-end
                            h4.h4.fw-bold.mb-3.mb-md-4 ROI Optimized
                            p Managing costs with the right talent and skills to ensure that every action provides a return on investment.
                    
                    .col-md-5.col-lg-5
                        img.cog-imgfit.cog-rounded-reg.w-100(src="./img/jump/difference/global-scale.webp" alt="Effort figure")
            
                
                // card3
                .row.cog-card-vr.cog-flexcenter
                    .col-md-5.col-lg-5
                        img.cog-imgfit.cog-rounded-reg.w-100(src="./img/jump/difference/low-effort.webp" alt="Effort figure")
                    
                    .col-md-6.col-lg-7.pt-4.pt-md-0
                        .cog-card-vr__body.text-center.text-md-start
                            h4.h4.fw-bold.mb-3.mb-md-4 Quality Attained
                            p Promoting quality work and proactively mitigating people and organizational issues.
                
                // card4
                .row.cog-card-vr.cog-flexcenter.cog-mobile-fxrv
                    .col-md-6.col-lg-7.pt-4.pt-md-0
                        .cog-card-vr__body.text-center.text-md-end
                            h4.h4.fw-bold.mb-3.mb-md-4 Productivity Boosted
                            p Ensuring momentum while minimizing delays or budget issues connected to talent  and organizational issues.
                    
                    .col-md-5.col-lg-5
                        img.cog-imgfit.cog-rounded-reg.w-100(src="./img/jump/difference/global-scale.webp" alt="Effort figure")

    
    .cog-patter-dotline.cog-patter-dotline--btm.d-none.d-md-block
        img(src="./img/patterns/vector-double-bend-line.svg" alt="Dotted line")
                    
