section.cog-banner.cog-bg-info
    .cog-banner__figwrap.ms-auto
        img.cog-img-blendmode.cogximg650(src="./img/Banners/jump-banner.webp" alt="Banner")
    .cog-bg-gradient.cog-bg-gradient--pri
    //Banner content
    .cog-banner-content.cog-vr-flexcenter
        .container.cog-banner-content__container
            .row
                .col-12.col-md-7.col-xl-6.me-auto.offset-md-1
                    img.mb-2.mb-md-4(src="./img/jump/jump-by-cognixia.svg" alt="Jump illustyration")
                    h1.h1.fw-normal.mb-3.mb-md-4
                        | Engineering the 
                        small.cog-txt-muted.fw-xbold.me-1 next generation
                        | of 
                        small.cog-txt-muted.fw-xbold digital talent.

                    a.cog-btn.cog-btn--white(href="javascript:void(0);") Get in touch