section.section-padding100.position-relative
    .cog-bg-shape.cog-bg-shape--top
    .container
        .row
            .col-md-8.mx-auto.text-center.mb-md-0.pb-5
                h3.h3.fw-bold.mb-2.mb-md-4 The JUMP Difference
                p.cog-lead JUMP is a comprehensive talent program that hires, trains, and deploys high-performing emerging technology resources. We provide companies a customized workforce solution while taking on the upfront costs and risks associated with traditional hiring. 

            .col-12.col-lg-10.mx-auto.pt-md-4
                // card1
                .row.cog-card-vr.cog-flexcenter
                    .col-md-5
                        img.cog-imgfit.cog-rounded-reg.w-100(src="./img/jump/difference/low-effort.webp" alt="Effort figure")
                    
                    .col-md-6.pt-4.pt-md-0
                        .cog-card-vr__body.text-center.text-md-start
                            h4.h4.fw-bold.mb-3.mb-md-4 Low Effort, High Impact
                            p Technical employees to level-up your transformation through talent that has the right technical skillsets, without the upfront costs of recruiting and training, and the ongoing effort of developing and retaining employees in an increasingly competitive environment.
                
                // card2
                .row.cog-card-vr.cog-flexcenter.cog-mobile-fxrv
                    .col-md-6.pt-4.pt-md-0
                        .cog-card-vr__body.text-center.text-md-end
                            h4.h4.fw-bold.mb-3.mb-md-4 Flexible Solutions
                            p We adapt JUMP to your unique needs and preferences, whether you’re upskilling a team of five or 5,000. You can select your level of engagement, whether you’d like oversight from an embedded leadership pod or prefer a totally self-managed approach.
                    
                    .col-md-5
                        img.cog-imgfit.cog-rounded-reg.w-100(src="./img/jump/difference/global-scale.webp" alt="Effort figure")
            
                
                // card3
                .row.cog-card-vr.cog-flexcenter
                    .col-md-5
                        img.cog-imgfit.cog-rounded-reg.w-100(src="./img/jump/difference/low-effort.webp" alt="Effort figure")
                    
                    .col-md-6.pt-4.pt-md-0
                        .cog-card-vr__body.text-center.text-md-start
                            h4.h4.fw-bold.mb-3.mb-md-4 Global Scale
                            p Global scale that brings a depth & breadth of expertise with over 4,000 expert educators in our global network, we offer both depth and breadth of learning capabilities across the most highly demanded skills and competencies.
                
                
    .cog-patter-dotline.d-none.d-md-block
        .cog-patter-dotline__figure
            img(src="./img/patterns/vector-bend-line.svg" alt="Dotted line")
                    
