section.position-relative
    .container.section-padding100.pt-md-5
        .row
            .col-md-10.mx-auto
                .row.align-items-md-center
                    .col-lg-7.text-end
                        .cog-content-container
                            h3.h3.fw-bold.mb-3.mb-md-4
                                | Our commitment to 
                                br
                                small.cog-txt-muted.fs-36.cog-clr-primary diversity and inclusion
                            p At Cognixia, we have an enduring commitment to fostering diversity and inclusion within our programs and our partners’ organizations. Through our talent recruitment, education and onboarding processes, we unlock access to opportunities in technology for a diverse range of talent.
                    .col-lg-5
                        .row.g-md-3
                            .col-md-6.text-end
                                img.cogximg202.cog-imgfit.cog-rounded-reg.mb-3(src="./img/jump/commitment/communite-fig1.png" alt="Our diversity people")
                                img.cogximg161.cog-imgfit.cog-rounded-reg(src="./img/jump/commitment/comunite161x161-2.png" alt="Our diversity people")
                            .col-md-6.text-start.pt-md-5
                                img.cogximg161.cog-imgfit.cog-rounded-reg.mb-3(src="./img/jump/commitment/comunite161x161.png" alt="Our diversity people")
                                img.cogximg202.cog-imgfit.cog-rounded-reg(src="./img/jump/commitment/comunite-201x201.png" alt="Our diversity people")

    .cog-pattern-fig.cog-pattern-fig-lg.end-0
        img.cog-imgfit(src="./img/jump/wave-pattern-lg.svg" alt="waves")