
<section class="sn-details-banner">
  <div class="sn-details-banner__fig"><img class="sn-figfit sn-imgx660" src="./img/people-story/detail-banner.png" alt="details banner"/></div>
  <div class="sn-overlay sn-overlay--liner"></div>
  <div class="sn-text-absolute">
    <div class="container sn-content sn-content--center">
      <div class="row w-100">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <!-- back button-->
          <h1 class="h2 sn-h2-onmb sn-clr-whi pe-md-5">Understanding our clients digital readiness is key to delivering successful products</h1>
        </div>
      </div>
    </div>
  </div>
</section>