section.cog-banner.cog-bg-info
    .cog-banner__figwrap.ms-auto
        img.cog-img-blendmode.cogximg650(src="./img/Banners/designer-baanner.webp" alt="Banner")
    .cog-bg-gradient.cog-bg-gradient--pri
    //Banner content
    .cog-banner-content.cog-vr-flexcenter
        .container.cog-banner-content__container
            .row
                .col-12.col-md-11.col-lg-9.col-xl-6.me-auto.offset-xl-1
                    h1.h1.fw-normal.mb-4.pe-4.pe-md-0
                        | Making everything you do in 
                        small.cog-txt-muted.fw-xbold Digital part of 
                        | your 
                        small.cog-txt-muted.fw-xbold DNA

                    a.cog-btn.cog-btn--lg.cog-btn--white(href="javascript:void(0);")
                        img.cog-play-icon(src="./img/icons/play-button.svg" alt="play button")
                        span.fs-18.cog-play-txt.ms-2 Watch showreel