section.section-padding100
    .container
        .row
            .col-md-10.mx-auto.text-center
                h2.h2.fw-bold.mb-4
                    | We unlock the power of your 
                    small.cog-txt-muted.cog-clr-primary talent and organization 
                    | for digital.
                a.cog-btn.cog-btn--default.mx-auto(href="javascript:void(0)") Get in touch

        .row.text-center.pt-md-5.mt-md-5
            .col-12.col-md-9.mx-md-auto
                h3.h3.fw-bold.mb-md-4.pb-4 Some of our customers
                ul.row.cog-client-list.row-cols-4
                    li.col.cog-client-list__item
                        img(src="./img/home/clients/amazon.svg" alt='Client logo')
                    li.col.cog-client-list__item
                        img(src="./img/home/clients/credit.svg" alt='Client logo')
                    li.col.cog-client-list__item
                        img(src="./img/home/clients/exceleon.svg" alt='Client logo')
                    li.col.cog-client-list__item
                        img(src="./img/home/clients/kaser.svg" alt='Client logo')
                    li.col.cog-client-list__item
                        img(src="./img/home/clients/metlife.svg" alt='Client logo')
                    li.col.cog-client-list__item
                        img(src="./img/home/clients/paypal.svg" alt='Client logo')
                    li.col.cog-client-list__item
                        img(src="./img/home/clients/vmcare.svg" alt='Client logo')
                    li.col.cog-client-list__item
                        img(src="./img/home/clients/metlife.svg" alt='Client logo')
