
<section class="sn-casestudy" id="accordionExample">
  <!--Monjasa-->
  <div class="sn-casestudy__item">
    <!--Image-->
    <div class="sn-bg-fig"><img class="sn-imgx340 sn-figfit" src="./img/home/case-studies/Monja.png" alt="Monja background"/></div>
    <!--Main content-->
    <div class="sn-text-absolute" id="headingOne">
      <div class="container sn-content sn-content--center">
        <div class="row w-100">
          <div class="col-12 sn-flex-end">
            <div class="sn-casestudy__text sn-clr-whi">
              <h2 class="h2 mb-3 mb-md-4">Client case: Monjasa</h2>
              <p class="sn-casestudy-des fnt-24">Monjasa were looking to improve and digitise their fuel supply chain end-to-end, to enable more efficient operations.​</p>
            </div><a class="sn-btn sn-btn--pri sn-btn--lg mt-5 mt-md-0" href="#monjasa" data-bs-toggle="collapse" aria-expanded="true" aria-controls="monjasa">View case study</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Monjasa-popup content-->
  <div class="sn-openmodal collapse" id="monjasa" data-bs-parent="#accordionExample">
    <div class="container">
      <div class="row sn-openmodal__body">
        <!-- close button-->
        <div class="sn-openmodal-close sn-close-box sn-flexcenter btn-close" data-bs-target="#monjasa" data-bs-toggle="collapse" aria-label="Close"><img class="sn-imgfluid" height="28" width="28" src="./img/close.svg" alt="close button"/></div>
        <!-- Main content-->
        <div class="col-12">
          <h3 class="h2 fnt-DM-me mb-3 mb-md-5">Monjasa’s app: end to end transparency for the oil and shipping industry</h3>
        </div>
        <div class="col-md-6">
          <div class="sn-openmodal__cnt">
            <p>Monjasa means personal business in the oil and shipping industries. The core business includes trading and physical supply of marine fuels, oil terminal operations and ship owning activities on a global scale. With 500 employees on land and at sea they supply around 6 million tons of marine fuels worldwide on a yearly basis.</p>
            <p>Mobiquity developed an app for Monjasa. The app is the digital first in the entire bunkering sector, providing shipping companies with insights into fuel prices, stocks and marine fuel characteristics. Data from Monjasa's global tanker fleet goes straight to customers' mobile</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="sn-openmodal__cnt">
            <p>In addition to current stock data, the groundbreaking app also provides other valuable information and convenience for customers. For example, the user of the app receives accurate CO2 emission data, fuel efficiency, temperature and volume fuel calculations. There is also the possibility to see where Monjasa's fleet is located and an overview of fuel requests, orders and billing information.  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Shell-->
  <div class="sn-casestudy__item">
    <!--Image-->
    <div class="sn-bg-fig"><img class="sn-imgx340 sn-figfit" src="./img/home/case-studies/shell.png" alt="Monja background"/></div>
    <!--Main content-->
    <div class="sn-text-absolute" id="headingTwo">
      <div class="container sn-content sn-content--center">
        <div class="row w-100">
          <div class="col-12 sn-flex-end">
            <div class="sn-casestudy__text sn-clr-whi">
              <h2 class="h2 mb-3 mb-md-4">Client case: Shell</h2>
              <p class="sn-casestudy-des fnt-24">A little text about the Shell case study. How Mobiquity played her role.​</p>
            </div><a class="sn-btn sn-btn--pri sn-btn--lg mt-5 mt-md-0 collapsed" href="#shell" data-bs-toggle="collapse" aria-expanded="false" aria-controls="shell">View case study</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- shell-popup content-->
  <div class="sn-openmodal collapse" id="shell" data-bs-parent="#accordionExample">
    <div class="container">
      <div class="row sn-openmodal__body">
        <!-- close button-->
        <div class="sn-openmodal-close sn-close-box sn-flexcenter btn-close" data-bs-target="#shell" data-bs-toggle="collapse" aria-label="Close"><img class="sn-imgfluid" height="28" width="28" src="./img/close.svg" alt="close button"/></div>
        <!-- Main content-->
        <div class="col-12">
          <h3 class="h2 fnt-DM-me mb-3 mb-md-5">Leveraging AI/ML to reduce costs and CO2 emissions</h3>
        </div>
        <div class="col-md-6">
          <div class="sn-openmodal__cnt">
            <p>A leading Oil & Gas processing plant consumes large amounts of electricity to produce the gas needed to sustain its demand worldwide. Electricity cost is a key driver in their operational expenditure, and most of the consumption is caused by gas compressors. The status quo entails running these compressors at maximum throughput, which comes at a very high energy cost. However, maximum production may not necessarily be the best approach from an environmental and economical perspective. The client turned to Mobiquity to explore how it could optimize electricity consumption and reduce CO2 emissions while maintaining a high and stable production.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="sn-openmodal__cnt">
            <p>To address this challenge Mobiquity applied Artificial Intelligence (AI) and Machine Learning (ML). We did this by leveraging our Digital Traction methodology, a framework for organizing digital innovation programs for optimal success. We provided this client with the following solution:</p>
            <ul>
              <li>A Machine Learning model that accurately models the workings of the plant.</li>
              <li>The model predicts how the plant will evolve over time and is able to accurately predict energy consumption.</li>
              <li>By using this model, optimal settings can be discovered to optimize energy consumption and thereby reduce costs.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Everfuel-->
  <div class="sn-casestudy__item">
    <!--Image-->
    <div class="sn-bg-fig"><img class="sn-imgx340 sn-figfit" src="./img/home/case-studies/Everful.png" alt="Monja background"/></div>
    <!--Main content-->
    <div class="sn-text-absolute">
      <div class="container sn-content sn-content--center">
        <div class="row w-100">
          <div class="col-12 sn-flex-end">
            <div class="sn-casestudy__text sn-clr-whi">
              <h2 class="h2 mb-3 mb-md-4">Client case: Everfuel</h2>
              <p class="sn-casestudy-des fnt-24">A little text about the Everfuel case study. How Mobiquity achieved the results.</p>
            </div><a class="sn-btn sn-btn--pri sn-btn--lg mt-5 mt-md-0" href="#everfuel" data-bs-toggle="collapse" aria-expanded="false" aria-controls="everfuel">View case study</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- everfuel-popup content-->
  <div class="sn-openmodal collapse" id="everfuel" data-bs-parent="#accordionExample">
    <div class="container">
      <div class="row sn-openmodal__body">
        <!-- close button-->
        <div class="sn-openmodal-close sn-close-box sn-flexcenter btn-close" data-bs-target="#everfuel" data-bs-toggle="collapse" aria-label="Close"><img class="sn-imgfluid" height="28" width="28" src="./img/close.svg" alt="close button"/></div>
        <!-- Main content-->
        <div class="col-12">
          <h3 class="h2 fnt-DM-me mb-3 mb-md-5">Everfuel provides the missing link between renewable energy and green transportation and production</h3>
        </div>
        <div class="col-md-6">
          <div class="sn-openmodal__cnt">
            <p>Everfuel provides the missing link between renewable energy and green transportation and production - making hydrogen happening across Europe. Everfuel needs to track Hydrogen from production to end distribution. Mobile storage units called “Gas Containers” are used for this purpose. The gas containers are fitted with a variety of sensors for measuring Hydrogen and temperatures. The client asked Mobiquity to improve the insights in the gain or loss of mass and trigger functions that integrate these events with an interface to the Business Centre</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="sn-openmodal__cnt">
            <p>Mobiquity has designed and implemented the first steps of a cloud-based architecture and corresponding functions that analyses data and creates insights in hydrogen mass behaviour in logistical processes. Part of the solution uses an ‘error catalogue’ approach to identify friction points based on e.g., upper and lower control limits and triggering events/notifications to further improve the transportation behaviour predictability.</p>
            <p>Today, we are working with the client to extend these insights and work on data points regarding production demand, supply and storage to optimize operational planning.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>