
<section class="sn-section sn-bg-info">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="sn-section__heading sn-clr-whi">
           Mobiquity culture! These are our <span class="fnt-Recife">people stories.</span></h2>
      </div>
    </div>
    <div class="row mt-3 mt-md-5 g-md-2">
      <div class="col-md-3">
                <div class="sn-card"><a href="people-story.html"><img class="sn-imgfluid" src="./img/people-story/people-storie1.png" alt="People stories"/></a>
                  <div class="sn-card__body">
                    <p class="sn-card__text">Understanding our clients digital readiness is key to delivering successful products</p>
                  </div><a class="sn-btn sn-btn--pri sn-card-link" href="people-story.html">Read Peter-Jan's story</a>
                </div>
      </div>
      <div class="col-md-3">
                <div class="sn-card"><a href="people-story.html"><img class="sn-imgfluid" src="./img/people-story/people-storie2.png" alt="People stories"/></a>
                  <div class="sn-card__body">
                    <p class="sn-card__text">Searching for talent to shape the future of digital</p>
                  </div><a class="sn-btn sn-btn--pri sn-card-link" href="people-story.html">Read Peter-Jan's story</a>
                </div>
      </div>
      <div class="col-md-3">
                <div class="sn-card"><a href="people-story.html"><img class="sn-imgfluid" src="./img/people-story/people-storie3.png" alt="People stories"/></a>
                  <div class="sn-card__body">
                    <p class="sn-card__text">Pushing the artistic boundaries in a digital environment</p>
                  </div><a class="sn-btn sn-btn--pri sn-card-link" href="people-story.html">Read Peter-Jan's story</a>
                </div>
      </div>
      <div class="col-md-3">
                <div class="sn-card"><a href="people-story.html"><img class="sn-imgfluid" src="./img/people-story/people-storie4.png" alt="People stories"/></a>
                  <div class="sn-card__body">
                    <p class="sn-card__text">Developing simple yet powerful mobile applications</p>
                  </div><a class="sn-btn sn-btn--pri sn-card-link" href="people-story.html">Read Peter-Jan's story</a>
                </div>
      </div>
    </div>
  </div>
</section>