section.section-padding100.position-relative
    .cog-bg-shape.cog-bg-shape--top
    .container
        .row
            .col-md-8.mx-auto.text-center.mb-md-5.pb-md-4
                h3.h3.fw-bold.mb-2.mb-md-4 Organization Transformation
                p.cog-lead Cognixia unlocks the power of your Organization for Digital Transformation.