.cog-arrows-container {
    position: absolute;
    bottom  : 50%;
    z-index : 100;
    left    : 0;
    right   : 0;
    margin  : auto;

    @include media-breakpoint-down(md) {
        transform: translateY(50%);
    }

    @include media-breakpoint-up(md) {
        max-width: 135px;
        bottom   : -1.5rem;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        content: none;
    }
}

.swiper-button-prev {
    transform: rotate(180deg);

    @include media-breakpoint-down(md) {
        left: 10px;
    }
}

// Button circles
.cog-btn-circle {
    height       : rem(50px);
    width        : rem(50px);
    background   : var(--bs-bg-primary);
    border-radius: var(--bs-border-radius-xxl);

    .cog-icon-arrow path {
        fill: var(--bs-white);
    }
}

// Pagination

.cog-pagination-btm {
    bottom: -2.5rem !important;
}

.InsightcardSwiper {
    .swiper-wrapper {
        @include media-breakpoint-up(md) {
            display: block !important;
        }
    }
}