section.cog-pagenotfound.text-center
    .container
        .cog-pagenotfound__cnt.mx-auto
            span.d-block.cog-pagenotfound__text.fs-36 Ooops! Something went wrong...
            img.cog-imgfit.my-3.mb-3(src="./img/not-found.svg" alt="page not found icon")
            h1.fs-36.fw-xbold.my-3.my-md-4 PAGE NOT FOUND
            p.cog-clr-darkgray The page you were looking for appears to have been moved, deleted or does not exist.
            a.cog-btn.cog-btn--default.mx-auto.mt-4(href="index.html") Visit Homepage