section.cog-banner.cog-bg-info
    .cog-banner__figwrap.ms-auto
        img.cog-img-blendmode.cogximg650(src="./img/Banners/banner-details.webp" alt="Banner")
    .cog-bg-gradient.cog-bg-gradient--pri
    //Banner content
    .cog-banner-content.cog-vr-flexcenter
        .container.cog-banner-content__container
            .row
                .col-12.col-lg-8.col-xl-7.me-auto.offset-lg-1
                    span.cog-leadtitle.mb-3 DIGITAL MINDSET SERIES
                    h1.h1.fw-normal.mb-3.mb-md-4
                        | The Core Traits of Success for 
                        small.cog-txt-muted.fs-64.fw-xbold.me-2 Today’s Age