section.section-padding100
    .container
        .row.cog-mobile-fxrv
            aside.col-md-5.cog-sidebarsticky
                // sidebar
                include 12_sidebar.pug
            .col-md-7
                // Details content
                include 22_details-content.pug