doctype html
html(lang="en", data-page="About-us" dir="ltr")
	head
		include ./pug/base/head.pug
		+head("")
	
	body.cog-globaltp
		include ./pug/base/header.pug
		main
			//- //Banner
			include ./pug/layouts/about-us/01_banner.pug
						
			// We are best
			include ./pug/layouts/about-us/02_why-cognixia.pug

			//Our DNA
			include ./pug/layouts/about-us/03_who-we-are.pug
			
			//Our DNA
			include ./pug/layouts/about-us/04_industri-serve.pug
			
			//IT
			include ./pug/base/get-in-touch.pug
		
		//- Footer
		include ./pug/base/footer.pug


		//scripts
		include ./pug/base/scripts.pug
		script(defer src="./js/about-us.js")
		script(defer src="./js/main.js")