doctype html
html(lang="en", data-page="Blog" dir="ltr")
	head
		include ./pug/base/head.pug
		+head("")
	
	body.cog-globaltp
		include ./pug/base/header.pug
		main
			// Banner
			include ./pug/layouts/blog/main.pug

		//- Footer
		include ./pug/base/footer.pug

		//scripts
		include ./pug/base/scripts.pug
		script(defer src="./js/DMC.js")
		script(defer src="./js/swiper-mobile.js")