doctype html
html(lang="en", data-page="home" dir="ltr")
	head
		include ./pug/base/head.pug
		+head("")
	
	body.cog-globaltp
		include ./pug/base/header.pug
		main
			//- //Banner
			include ./pug/layouts/home/01banner.pug
						
			// We are best
			include ./pug/layouts/home/02we-are-best.pug

			//Our DNA
			include ./pug/layouts/home/03our-DNA.pug
			
			//- //Our clients
			include ./pug/layouts/home/04our-solutions.pug
			
			//IT
			include ./pug/base/get-in-touch.pug
		
		//- Footer
		include ./pug/base/footer.pug


		//scripts
		include ./pug/base/scripts.pug
		script(defer src="./js/home.js")
		script(defer src="./js/main.js")