doctype html
html(lang="en", data-page="jump" dir="ltr")
	head
		include ./pug/base/head.pug
		+head("")
	
	body.cog-globaltp
		include ./pug/base/header.pug
		main
			//Banner
			include ./pug/layouts/jump/01banner.pug
						
			// We are best
			include ./pug/layouts/jump/02jump-difference.pug
			
			//IT
			include ./pug/base/get-in-touch.pug
		
		//- Footer
		include ./pug/base/footer.pug


		//scripts
		include ./pug/base/scripts.pug
		script(defer src="./js/home.js")
		script(defer src="./js/main.js")