doctype html
html(lang="en", data-page="home" dir="ltr")
	head
		include ./pug/base/head.pug
		+head("")
	
	body.cog-globaltp
		//- include ./pug/base/header.pug
		main
			//Banner
			include ./pug/layouts/style-guide/main.pug
			
			a.cog-btn.cog-btn--default(href='javascript:void(0);' data-bs-toggle="modal" data-bs-target="#exampleModal") Get in touch
						
			//- //Founder vision
			//- include ./pug/layouts/home/02videos.pug

		//scripts
		include ./pug/base/scripts.pug
		script(defer src="./js/home.js")
		script(defer src="./js/main.js")