section.cog-banner.cog-bg-info
    .cog-banner__figwrap.ms-auto
        img.cog-img-blendmode.cogximg650(src="./img/rewire/rewire-banner.webp" alt="Banner")
    .cog-bg-gradient.cog-bg-gradient--pri
    //Banner content
    .cog-banner-content.cog-vr-flexcenter
        .container.cog-banner-content__container
            .row
                .col-12.col-md-7.col-xl-4.me-auto.offset-md-1
                    img.mb-3.mb-md-4(src="./img/rewire/rewire-illus.svg" alt="Rewire illustration")
                    h1.h1.fw-normal.mb-3.mb-md-4
                        | Elevate your 
                        small.cog-txt-muted.fs-64.fw-xbold.me-1 workforce

                    a.cog-btn.cog-btn--white(href="javascript:void(0);") Get in touch