section.section-padding100.position-relative
    .cog-bg-shape.cog-bg-shape--top
    .container
        .row
            .col-md-8.mx-auto.text-center.mb-md-5.pb-md-4
                h3.h3.fw-bold.mb-2.mb-md-4 The REWIRE Difference
                p.cog-lead REWIRE by Cognixia is designed to help organizations upskill/elevate their workforce. Learning programs are tailored to each company's specific needs and are constantly updated to ensure organizations are future-proofing their workforce with the latest technologies.

            .col-12.col-lg-10.mx-auto
                // card1
                .row.cog-card-vr.cog-flexcenter
                    .col-md-5.col-lg-5
                        img.cog-imgfit.cog-rounded-reg.w-100(src="./img/jump/difference/low-effort.webp" alt="Effort figure")
                    
                    .col-md-6.col-lg-7
                        .cog-card-vr__body
                            h4.h4.fw-bold.mb-2.mb-md-4 Tailored training
                            p We customize our programming to support your talent needs and business ambitions, whether you’re building out AI, your cloud computing capabilities or investing in machine learning.
                
                // card2
                .row.cog-card-vr.cog-flexcenter
                    .col-md-6.col-lg-7
                        .cog-card-vr__body.text-end
                            h4.h4.fw-bold.mb-2.mb-md-4 Hands-On Consultation
                            p We go beyond coursework, working closely with our clients to develop a talent blueprint for the next 12 months or more.
                    
                    .col-md-5.col-lg-5
                        img.cog-imgfit.cog-rounded-reg.w-100(src="./img/jump/difference/global-scale.webp" alt="Effort figure")
            
                
                // card3
                .row.cog-card-vr.cog-flexcenter
                    .col-md-5.col-lg-5
                        img.cog-imgfit.cog-rounded-reg.w-100(src="./img/jump/difference/low-effort.webp" alt="Effort figure")
                    
                    .col-md-6.col-lg-7
                        .cog-card-vr__body
                            h4.h4.fw-bold.mb-2.mb-md-4 Expert Network
                            p Our trainers are industry veterans who bring practical, real-world experience in the latest technologies to your employees.
                
                // card4
                .row.cog-card-vr.cog-flexcenter
                    .col-md-6.col-lg-7
                        .cog-card-vr__body.text-end
                            h4.h4.fw-bold.mb-2.mb-md-4 Continual Learning
                            p Because we understand that learning is a lifelong pursuit, we create opportunities to develop new skills at every career stage and technical skill level.
                    
                    .col-md-5.col-lg-5
                        img.cog-imgfit.cog-rounded-reg.w-100(src="./img/jump/difference/global-scale.webp" alt="Effort figure")

    
    .cog-patter-dotline
        img(src="./img/patterns/vector-double-bend-line.svg" alt="Dotted line")
                    
