section.cog-bg-primary.section-padding100
    .container
        .col-11.mx-auto.col-md-12.col-lg-10.col-xxl-8.text-center.mb-4.mb-md-5
            h3.h3.fw-bold.mb-4 Certifications
            p.cog-lead.fs-24 Cognixia is proud to partner with leading technology companies to provide official certification curriculum across a number of disciplines
        
        .col-xl-10.mx-auto
            ul.row.cog-client-listbox.row-cols-lg-3.text-center
                li.col-6.col-md-4
                    .cog-client-listbox__item.cog-flexcenter.m-2
                        img.cog-imgfit(src="./img/rewire/certifications/service-now.svg" alt="service-now Logo")
                        // onhover content
                        .cog-client-listbox-hover-cnt.cog-flexcenter
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Architect
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Admin
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Developer
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Implementation Specialist

                li.col-6.col-md-4
                    .cog-client-listbox__item.cog-flexcenter.m-2
                        img.cog-imgfit(src="./img/rewire/certifications/microsoft.svg" alt="Microsoft Logo")
                        
                        // onhover content
                        .cog-client-listbox-hover-cnt.cog-flexcenter
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Architect
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Admin
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Developer
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Implementation Specialist
                li.col-6.col-md-4
                    .cog-client-listbox__item.cog-flexcenter.m-2
                        img.cog-imgfit(src="./img/rewire/certifications/Aws-certification.svg" alt="Aws Certification Logo")
                        
                        // onhover content
                        .cog-client-listbox-hover-cnt.cog-flexcenter
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Azure
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Microsoft Exchange
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Microsoft Sharepoint
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") SQL
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Powershell
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Programming
                li.col-6.col-md-4
                    .cog-client-listbox__item.cog-flexcenter.m-2
                        img.cog-imgfit(src="./img/rewire/certifications/automation-anewhere.svg" alt="Automation Logo")
                        // onhover content
                        .cog-client-listbox-hover-cnt.cog-flexcenter
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Architect
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Admin
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Developer
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Implementation Specialist
                li.col-6.col-md-4
                    .cog-client-listbox__item.cog-flexcenter.m-2
                        img.cog-imgfit(src="./img/rewire/certifications/red-hat.svg" alt="Red Hat Logo")
                        // onhover content
                        .cog-client-listbox-hover-cnt.cog-flexcenter
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Architect
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Admin
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Developer
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Implementation Specialist
                li.col-6.col-md-4
                    .cog-client-listbox__item.cog-flexcenter.m-2
                        img.cog-imgfit(src="./img/rewire/certifications/isc.svg" alt="ISC Logo")
                        // onhover content
                        .cog-client-listbox-hover-cnt.cog-flexcenter
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Architect
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Admin
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Application Developer
                            a.cog-link.fs-16.mb-2(href="javascript:void(0);") Implementation Specialist
        