section.cog-bg-primary.section-padding100
    .container
        .col-11.mx-auto.col-md-12.col-lg-10.col-xxl-8.text-center.mb-4.mb-md-5
            h3.h3.fw-bold.mb-4 Certifications
            p.cog-lead.fs-24 Cognixia is proud to partner with leading technology companies to provide official certification curriculum across a number of disciplines
        
        .col-xl-10.mx-auto
            ul.row.cog-client-listbox.row-cols-lg-3.text-center
                li.col-6.col-md-4
                    .cog-client-listbox__item.cog-flexcenter.m-2
                        img.cog-imgfit(src="./img/rewire/certifications/service-now.svg" alt="service-now Logo")
                li.col-6.col-md-4
                    .cog-client-listbox__item.cog-flexcenter.m-2
                        img.cog-imgfit(src="./img/rewire/certifications/microsoft.svg" alt="Microsoft Logo")
                li.col-6.col-md-4
                    .cog-client-listbox__item.cog-flexcenter.m-2
                        img.cog-imgfit(src="./img/rewire/certifications/Aws-certification.svg" alt="Aws Certification Logo")
                li.col-6.col-md-4
                    .cog-client-listbox__item.cog-flexcenter.m-2
                        img.cog-imgfit(src="./img/rewire/certifications/automation-anewhere.svg" alt="Automation Logo")
                li.col-6.col-md-4
                    .cog-client-listbox__item.cog-flexcenter.m-2
                        img.cog-imgfit(src="./img/rewire/certifications/red-hat.svg" alt="Red Hat Logo")
                li.col-6.col-md-4
                    .cog-client-listbox__item.cog-flexcenter.m-2
                        img.cog-imgfit(src="./img/rewire/certifications/isc.svg" alt="ISC Logo")
        