section.cog-bg-primary.section-padding100
    .container
        .row.mb-4.mb-md-0
            .col-11.mx-auto.col-md-12.col-lg-10.col-xxl-8.text-center
                h3.h3.fw-bold.mb-4 Certifications
                p.cog-lead.fs-24 Cognixia is proud to partner with leading technology companies to provide official certification curriculum across a number of disciplines