section.section-padding100.position-relative
    .container
        h3.h3.fw-bold.text-center.mb-md-4.pb-5 Our span of Impact

        .row
            .col-lg-10.col-xxl-8.mx-auto
                .row.row-cols-lg-4.text-center.g-3
                    .col
                        figure.cog-feature
                            img(src="./img/rewire/our-impact/countries.svg" alt="countries icon")
                            figcaption.mt-3
                                span.fs-32.fw-xbold 45+
                                p.cog-clr-black.fs-18.mt-1 countries
                    .col
                        figure.cog-feature
                            img(src="./img/rewire/our-impact/programs.svg" alt="Programs icon")
                            figcaption.mt-3
                                span.fs-32.fw-xbold 450+
                                p.cog-clr-black.fs-18.mt-1 programs
                    .col
                        figure.cog-feature
                            img(src="./img/rewire/our-impact/trainers.svg" alt="Trainners icon")
                            figcaption.mt-3
                                span.fs-32.fw-xbold 7,000+
                                p.cog-clr-black.fs-18.mt-1 trainers
                    .col
                        figure.cog-feature
                            img(src="./img/rewire/our-impact/trained.svg" alt="Trainners icon")
                            figcaption.mt-3
                                span.fs-32.fw-xbold 130,000+
                                p.cog-clr-black.fs-18.mt-1 trained
