
<section class="section-padding100 cog-bg-primary">
  <div class="container">
    <div class="row text-center section-padding80 pt-0 mb-md-4">
      <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <h2 class="fw-bold mb-md-4">Change Management & Adoption</h2>
        <p class="px-md-4">Cognixia can help make sure your project is a success. We help you de-risk areas that can cause project failure such as: </p>
      </div>
    </div>
    <div class="row gx-3">
      <div class="col-md-3">
        <div class="cog-card cog-card-h240 bg-white text-center">
          <div class="cog-card__figwrap">
            <div class="cog-circle-lg cog-flexcenter mx-auto"><img src="./img/change-adoption/lacking.svg" alt="Lacking icon"/></div>
          </div>
          <div class="cog-card__body">
            <p class="fs-24 cog-clr-secondary">Lacking the right people or skillsets</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cog-card cog-card-h240 bg-white text-center">
          <div class="cog-card__figwrap">
            <div class="cog-circle-lg cog-flexcenter mx-auto"><img src="./img/change-adoption/battling.svg" alt="Lacking icon"/></div>
          </div>
          <div class="cog-card__body">
            <p class="fs-24 cog-clr-secondary">Battling organizational culture</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cog-card cog-card-h240 bg-white text-center">
          <div class="cog-card__figwrap">
            <div class="cog-circle-lg cog-flexcenter mx-auto"><img src="./img/change-adoption/project-delay.svg" alt="Lacking icon"/></div>
          </div>
          <div class="cog-card__body">
            <p class="fs-24 cog-clr-secondary">Project delays, budget impacts and quality issues</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cog-card cog-card-h240 bg-white text-center">
          <div class="cog-card__figwrap">
            <div class="cog-circle-lg cog-flexcenter mx-auto"><img src="./img/change-adoption/disengaged.svg" alt="Lacking icon"/></div>
          </div>
          <div class="cog-card__body">
            <p class="fs-24 cog-clr-secondary">Disengaged stakeholders and leadership</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>