
<!--01-->
<section class="cog-banner cog-bg-info">
  <div class="cog-banner__figwrap ms-auto"><img class="cog-img-blendmode cogximg650" src="./img/Banners/change.webp" alt="Banner"/></div>
  <div class="cog-bg-gradient cog-bg-gradient--pri"></div>
  <!--Banner content-->
  <div class="cog-banner-content cog-vr-flexcenter">
    <div class="container cog-banner-content__container">
      <div class="row">
        <div class="col-12 col-lg-8 col-xl-7 col-xxl-6 me-auto offset-xl-1"><span class="cog-leadtitle mb-3">CHANGE & ADOPTION</span>
          <h1 class="h1 fw-normal mb-3 mb-md-4">Supercharge & de-risk<small class="cog-txt-muted fs-64 fw-xbold me-1">digital projects</small></h1><a class="cog-btn cog-btn--white mb-4" href="javascript:void(0);">Get in touch</a>
          <p class="cog-lead fs-24 text-white pt-2">What if your digital project was expected to fail 70% of the time? Would you still do the project?</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--02-->
<section class="section-padding100 cog-bg-primary">
  <div class="container">
    <div class="row text-center section-padding80 pt-0 mb-md-4">
      <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <h2 class="fw-bold mb-md-4">Change Management & Adoption</h2>
        <p class="px-md-4">Cognixia can help make sure your project is a success. We help you de-risk areas that can cause project failure such as: </p>
      </div>
    </div>
    <div class="row gx-3">
      <div class="col-md-3">
        <div class="cog-card cog-card-h240 bg-white text-center">
          <div class="cog-card__figwrap">
            <div class="cog-circle-lg cog-flexcenter mx-auto"><img src="./img/change-adoption/lacking.svg" alt="Lacking icon"/></div>
          </div>
          <div class="cog-card__body">
            <p class="fs-24 cog-clr-secondary">Lacking the right people or skillsets</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cog-card cog-card-h240 bg-white text-center">
          <div class="cog-card__figwrap">
            <div class="cog-circle-lg cog-flexcenter mx-auto"><img src="./img/change-adoption/battling.svg" alt="Lacking icon"/></div>
          </div>
          <div class="cog-card__body">
            <p class="fs-24 cog-clr-secondary">Battling organizational culture</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cog-card cog-card-h240 bg-white text-center">
          <div class="cog-card__figwrap">
            <div class="cog-circle-lg cog-flexcenter mx-auto"><img src="./img/change-adoption/project-delay.svg" alt="Lacking icon"/></div>
          </div>
          <div class="cog-card__body">
            <p class="fs-24 cog-clr-secondary">Project delays, budget impacts and quality issues</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cog-card cog-card-h240 bg-white text-center">
          <div class="cog-card__figwrap">
            <div class="cog-circle-lg cog-flexcenter mx-auto"><img src="./img/change-adoption/disengaged.svg" alt="Lacking icon"/></div>
          </div>
          <div class="cog-card__body">
            <p class="fs-24 cog-clr-secondary">Disengaged stakeholders and leadership</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--02-->
<section class="section-padding100 position-relative">
  <div class="cog-bg-shape cog-bg-shape--top"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-10 mx-auto text-center mb-md-5 pb-md-4">
        <h3 class="h3 fw-bold mb-2 mb-md-4">We help you realize the value you expect from your digital projects</h3>
      </div>
      <div class="col-12 col-lg-10 mx-auto">
        <!-- card1-->
        <div class="row cog-card-vr cog-flexcenter">
          <div class="col-md-5 col-lg-5"><img class="cog-imgfit cog-rounded-reg w-100" src="./img/jump/difference/low-effort.webp" alt="Effort figure"/></div>
          <div class="col-md-6 col-lg-7">
            <div class="cog-card-vr__body">
              <h4 class="h4 fw-bold mb-2 mb-md-4">Project Strategy Realized</h4>
              <p>Achieving project goals by aligning team members and stakeholders around a shared vision.</p>
            </div>
          </div>
        </div>
        <!-- card2-->
        <div class="row cog-card-vr cog-flexcenter">
          <div class="col-md-6 col-lg-7">
            <div class="cog-card-vr__body text-end">
              <h4 class="h4 fw-bold mb-2 mb-md-4">ROI Optimized</h4>
              <p>Managing costs with the right talent and skills to ensure that every action provides a return on investment.</p>
            </div>
          </div>
          <div class="col-md-5 col-lg-5"><img class="cog-imgfit cog-rounded-reg w-100" src="./img/jump/difference/global-scale.webp" alt="Effort figure"/></div>
        </div>
        <!-- card3-->
        <div class="row cog-card-vr cog-flexcenter">
          <div class="col-md-5 col-lg-5"><img class="cog-imgfit cog-rounded-reg w-100" src="./img/jump/difference/low-effort.webp" alt="Effort figure"/></div>
          <div class="col-md-6 col-lg-7">
            <div class="cog-card-vr__body">
              <h4 class="h4 fw-bold mb-2 mb-md-4">Quality Attained</h4>
              <p>Promoting quality work and proactively mitigating people and organizational issues.</p>
            </div>
          </div>
        </div>
        <!-- card4-->
        <div class="row cog-card-vr cog-flexcenter">
          <div class="col-md-6 col-lg-7">
            <div class="cog-card-vr__body text-end">
              <h4 class="h4 fw-bold mb-2 mb-md-4">Productivity Boosted</h4>
              <p>Ensuring momentum while minimizing delays or budget issues connected to talent  and organizational issues.</p>
            </div>
          </div>
          <div class="col-md-5 col-lg-5"><img class="cog-imgfit cog-rounded-reg w-100" src="./img/jump/difference/global-scale.webp" alt="Effort figure"/></div>
        </div>
      </div>
    </div>
  </div>
  <div class="cog-patter-dotline cog-patter-dotline--btm"><img src="./img/patterns/vector-double-bend-line.svg" alt="Dotted line"/></div>
</section>