.cog-content-wrapper {
    position: relative;
    z-index : 1;

    padding: {
        top   : rem(40px);
        bottom: rem(40px);
    }

    @include media-breakpoint-up(md) {
        padding: {
            top   : rem(110px);
            bottom: rem(110px);
        }
    }

    p {
        @extend .fs-16;
        margin-top: rem(15px);
        color     : var(--bs-darkgray);

        @include media-breakpoint-up(md) {
            margin-top: rem(20px);
        }
    }

    h5 {
        @extend .fs-20;
        margin-top: rem(15px) !important;
        @extend .fw-bold;

        @include media-breakpoint-up(md) {
            margin-top: rem(20px) !important;
        }
    }
}